body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px;
  box-sizing: border-box;
  font-size: 12px;
}

h1 {
  font-weight: 200;
  letter-spacing: 0.1em;
  font-size: 14px;
}

#FileBrowser {
  border: 1px solid #f0f0f0;
  padding: 10px;
}
/* my code */
#hierarchy {
  font-family: FontAwesome;
  width: 300px;
}
.foldercontainer,
.file,
.noitems {
  display: block;
  padding: 5px 5px 5px 50px;
  list-style-type: none;
}

.folder,
.file {
  cursor: pointer;
}
.noitems {
  display: none;
  pointer-events: none;
}
.far:hover,
.file:hover {
  background: rgb(218, 218, 216);
  cursor: pointer;
}
.far:before,
.file:before {
  padding-right: 10px;
}
