body {
  background-color: #fff;
  color: rgb(41, 41, 41);
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px;
  box-sizing: border-box;
  font-size: 0.65rem;
}

/*  Source : https://www.w3schools.com/*/
.loader {
  margin: 0 auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid rgb(41, 41, 41);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-weight: 200;
  letter-spacing: 0.1em;
  font-size: 14px;
}

#FileBrowser,
#filebrowser1 {
  border: 1px solid #f0f0f0;
  padding: 15px;
}
ul {
  list-style-type: none;
}

.folders-caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  font-weight: bold;
  padding: 0 5px;
}

.folders-caret::before {
  content: "\25B6";
  color: rgb(41, 41, 41);
  display: inline-block;
  margin-right: 6px;
}

.folders-caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}
.folders-caret:hover {
  background-color: rgb(228, 224, 224);
}

.container {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 1.2rem;
}
.row span {
  color: rgb(187, 184, 184);
  font-size: 0.5rem;
}

.row-date {
  font-size: 0.6rem;
  font-weight: normal;
}

.files {
  display: none;
}

.expanded {
  display: block;
}
